.container {
    position: relative;
    height: 50vh;
    border-bottom: 1px solid black;
    width: 90vw;
}

.ball {
    --speed: 2;
    position: absolute;
    left: 50%;
    top: 0%;
    border-radius: 50%;
    background-color: red;
    height: 20px;
    width: 20px;
    animation-name: bounce;
    animation-duration: calc(var(--speed) * 100ms);
    animation-iteration-count: infinite;
    transform: translateY(-100%);
    /* animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1); */
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    /* animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); */
    animation-direction: alternate;
}

@keyframes bounce {

    /* 0%, 5% {
        top: 0%;
    }

    6%, 10% {
        top: 1%;
    }

    11%, 15% {
        top: 2%;
    } */

    98%, 100% {
        height: 17px;
        width: 23px;
        top: 100%;
    }
}